<div id="content">
    <p>
        <%= image_tag "santa_text.png", id: "santa_text" %>
    </p>
    <p>
        <%= image_tag "santa.png" %>
    </p>
    <p id="buttons">
        <a class="pure-button pure-button-primary" href="/create_event">Create new event</a>
        <a class="pure-button pure-button-primary" href="/events">List your events</a>
    </p>
</div>
